* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background-color: bisque;
}

header {
  display: flex;
  background-color: cadetblue;
  height: 4rem;
  align-items: center;
  padding: 0.3rem;
  justify-content: center;
}

main {
  padding: 1rem 1rem;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: center;
  background-color: cadetblue;
  height: 3rem;
  align-items: center;
  padding: 0.3rem;
}
