* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background-color: bisque;
}

header {
  display: flex;
  background-color: cadetblue;
  height: auto;
  align-items: center;
  padding: 0.3rem;
  justify-content: center;
  flex-direction: column;
  width: auto;
}

header h1 {
  margin-top: 1rem;
}

header input {
  margin: 3rem 0 1rem 0;
  height: 2rem;
  width: 30rem;
  border-radius: 0.5rem;
}

::placeholder {
  text-align: center;
  font-size: 1rem;
}

.animalCard {
  padding: 1rem 1rem;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: center;
  background-color: cadetblue;
  height: 3rem;
  align-items: center;
  padding: 0.3rem;
  position: relative;
  bottom: 0;
}
